*{

margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;

}

body{

height:100vh;

display:flex;

justify-content:center;

align-items:center;

background:linear-gradient(135deg,#ffe7df,#ffd6d6);

}

.success-box{

background:white;

padding:50px;

width:500px;

border-radius:20px;

text-align:center;

box-shadow:0 10px 30px rgba(0,0,0,.15);

}

.tick{

width:100px;

height:100px;

margin:auto;

border-radius:50%;

background:#4CAF50;

color:white;

font-size:60px;

display:flex;

justify-content:center;

align-items:center;

margin-bottom:25px;

}

h1{

color:#4CAF50;

margin-bottom:20px;

}

p{

color:#555;

font-size:18px;

line-height:28px;

}

.order-id{

margin-top:25px;

font-size:18px;

font-weight:bold;

color:#ec407a;

}

button{

margin-top:35px;

padding:15px 40px;

background:#f48fb1;

border:none;

color:white;

font-size:18px;

border-radius:10px;

cursor:pointer;

transition:.3s;

}

button:hover{

background:#ec407a;

}